{
  "openapi": "3.1.0",
  "info": {
    "version": null,
    "title": "ThinQ API"
  },
  "servers": [
    {
      "url": "https://api-kic.lgthinq.com"
    },
    {
      "url": "https://api-aic.lgthinq.com"
    },
    {
      "url": "https://api-eic.lgthinq.com"
    }
  ],
  "tags": [
    {
      "name": "PAT(Personal Access Token)",
      "description": "Identification tokens used to call ThinQ API. The Identification tokens can only be used for personal and non-commercial purposes. To develop additional services not sanctioned by LG Electronics, the developer must discuss the matter regarding the additional services with LG Electronics, and then acquire a written consent from LG Electronics.\n  1. Visit the website: https://connect-pat.lgthinq.com\n  2. Log in on the ThinQ account.\n  3. Select the \"ADD NEW TOkEN\" button.\n  4. Enter Token name.\n  5. Select a feature you want.\n  6. Select the \"CREATE TOKEN\" button, and the token will be created. You will then be redirected to the PAT page.\n  7. Copy the newly generated token for use.\n"
    },
    {
      "name": "Base URL",
      "description": "ThinQ API specifies a Base URL based on the location of the customer's device. <br> Therefore, please select and apply the Base URL below when calling a ThinQ API, considering the region where the customer's device is located.\n\n  |Region|ThinQ API|\n  |-|-|\n  |South Asia, East Asia and Pacific|https://api-kic.lgthinq.com|\n  |America|https://api-aic.lgthinq.com|\n  |Europe, Middle East, Africa|https://api-eic.lgthinq.com|\n"
    },
    {
      "name": "Route API",
      "description": "An API to view the domain name of ThinQ Backend.\n"
    },
    {
      "name": "Device API",
      "description": "API used to request ThinQ device information and control the device.\n"
    },
    {
      "name": "Push API",
      "description": "API used to subscribe/unsubscribe the push messages generated from the ThinQ devices.\n"
    },
    {
      "name": "Event API",
      "description": "API used to subscribe/unsubscribe the event messages generated from the ThinQ devices when their statuses change.\n"
    },
    {
      "name": "Client API",
      "description": "API used to issue/register user device authentication certificate for receiving messages delivered from the ThinQ devices.  \n"
    },
    {
      "name": "Energy API",
      "description": "An API to retrieve energy data provided by ThinQ home appliances.\n"
    },
    {
      "name": "Push Message",
      "description": "Push messages are generated by devices irregularly to notify the following four cases.\n  1. Register Device\n  2. Delete Device\n  3. Edit Device Nickname\n  4. Device Operation Completed (e.g., cycle completed) / Parts Replacement (e.g., filter replacement)\n\n## Device Registration Message\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_register_device\"\n  exampleRef=\"#/components/examples/push_message_register_device_example\" />\n\n## Device Deletion Message\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_delete_device\"\n  exampleRef=\"#/components/examples/push_message_delete_device_example\" />\n\n## Device Nickname Modification Message\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_change_nickname\"\n  exampleRef=\"#/components/examples/push_message_change_nickname_example\" />\n\n## Operation Completion Message\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/push_message_complete_operation\"\n  exampleRef=\"#/components/examples/push_message_complete_operation_example\" />\n"
    },
    {
      "name": "Event Message",
      "description": "Event messages are sent when the device's status is changed.\n## Event message\n<SchemaDefinition\n  schemaRef=\"#/components/schemas/event_message\"\n  exampleRef=\"#/components/examples/event_message_example\" />\n"
    }
  ],
  "paths": {
    "/route": {
      "get": {
        "tags": [
          "Route API"
        ],
        "summary": "View domain name",
        "description": "An API to get the Backend address for the ThinQ Platform. Views the domain name by region and configuration.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-service-phase"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/route-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "Get device list",
        "description": "API for getting a list of devices that have been registered on the ThinQ Platform. It must be called at least once before using any other APIs. The list of devices returned by this API contains a device-id to identify the device, which can be used to call other device APIs by specifying the target device. Therefore, this API must be called the first time, but does not need to be called every time after the device list is resolved.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/profile": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "Get Device Profile",
        "description": "API for viewing device profiles. Device profiles are information describing the attributes of an LG home appliance and are the device data used by the LG ThinQ platform.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-profile-res"
                },
                "examples": {
                  "Refrigerator": {
                    "$ref": "#/components/examples/refrigerator-profile-example"
                  },
                  "Water Purifier": {
                    "$ref": "#/components/examples/water_purifier-profile-example"
                  },
                  "Wine Cellar": {
                    "$ref": "#/components/examples/wine_cellar-profile-example"
                  },
                  "Kimchi Refrigerator": {
                    "$ref": "#/components/examples/kimchi_refrigerator-profile-example"
                  },
                  "Home Brew": {
                    "$ref": "#/components/examples/home_brew-profile-example"
                  },
                  "Plant Cultivator": {
                    "$ref": "#/components/examples/plant_cultivator-profile-example"
                  },
                  "Washer": {
                    "$ref": "#/components/examples/washer-profile-example"
                  },
                  "Dryer": {
                    "$ref": "#/components/examples/dryer-profile-example"
                  },
                  "Styler": {
                    "$ref": "#/components/examples/styler-profile-example"
                  },
                  "Dish Washer": {
                    "$ref": "#/components/examples/dish_washer-profile-example"
                  },
                  "WashTower (Washer)": {
                    "$ref": "#/components/examples/washtower_washer-profile-example"
                  },
                  "WashTower (Dryer)": {
                    "$ref": "#/components/examples/washtower_dryer-profile-example"
                  },
                  "WashTower": {
                    "$ref": "#/components/examples/washtower-profile-example"
                  },
                  "Main WashCombo": {
                    "$ref": "#/components/examples/main_washcombo-profile-example"
                  },
                  "Mini WashCombo": {
                    "$ref": "#/components/examples/mini_washcombo-profile-example"
                  },
                  "Oven": {
                    "$ref": "#/components/examples/oven-profile-example"
                  },
                  "Cooktop": {
                    "$ref": "#/components/examples/cooktop-profile-example"
                  },
                  "Hood": {
                    "$ref": "#/components/examples/hood-profile-example"
                  },
                  "Microwave Oven": {
                    "$ref": "#/components/examples/microwave_oven-profile-example"
                  },
                  "Air Conditioner": {
                    "$ref": "#/components/examples/air_conditioner-profile-example"
                  },
                  "System Boiler": {
                    "$ref": "#/components/examples/system_boiler-profile-example"
                  },
                  "Air Purifier": {
                    "$ref": "#/components/examples/air_purifier-profile-example"
                  },
                  "Dehumidifier": {
                    "$ref": "#/components/examples/dehumidifier-profile-example"
                  },
                  "Humidifier": {
                    "$ref": "#/components/examples/humidifier-profile-example"
                  },
                  "Water Heater": {
                    "$ref": "#/components/examples/water_heater-profile-example"
                  },
                  "Ceiling Fan": {
                    "$ref": "#/components/examples/ceiling_fan-profile-example"
                  },
                  "Air Purifier Fan": {
                    "$ref": "#/components/examples/air_purifier_fan-profile-example"
                  },
                  "Robot Cleaner": {
                    "$ref": "#/components/examples/robot_cleaner-profile-example"
                  },
                  "Stick Cleaner": {
                    "$ref": "#/components/examples/stick_cleaner-profile-example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/state": {
      "get": {
        "tags": [
          "Device API"
        ],
        "summary": "Device status inquiry",
        "description": "API for viewing the current status of a device. You can retrieve the current status of the specified device-id.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-state-res"
                },
                "examples": {
                  "Refrigerator": {
                    "$ref": "#/components/examples/refrigerator-object-example"
                  },
                  "Water Purifier": {
                    "$ref": "#/components/examples/water_purifier-object-example"
                  },
                  "Wine Cellar": {
                    "$ref": "#/components/examples/wine_cellar-object-example"
                  },
                  "Kimchi Refrigerator": {
                    "$ref": "#/components/examples/kimchi_refrigerator-object-example"
                  },
                  "Home Brew": {
                    "$ref": "#/components/examples/home_brew-object-example"
                  },
                  "Plant Cultivator": {
                    "$ref": "#/components/examples/plant_cultivator-object-example"
                  },
                  "Washer": {
                    "$ref": "#/components/examples/washer-object-example"
                  },
                  "Dryer": {
                    "$ref": "#/components/examples/dryer-object-example"
                  },
                  "Styler": {
                    "$ref": "#/components/examples/styler-object-example"
                  },
                  "Dish Washer": {
                    "$ref": "#/components/examples/dish_washer-object-example"
                  },
                  "WashTower (Washer)": {
                    "$ref": "#/components/examples/washtower_washer-object-example"
                  },
                  "WashTower (Dryer)": {
                    "$ref": "#/components/examples/washtower_dryer-object-example"
                  },
                  "WashTower": {
                    "$ref": "#/components/examples/washtower-object-example"
                  },
                  "Main WashCombo": {
                    "$ref": "#/components/examples/main_washcombo-object-example"
                  },
                  "Mini WashCombo": {
                    "$ref": "#/components/examples/mini_washcombo-object-example"
                  },
                  "Oven": {
                    "$ref": "#/components/examples/oven-object-example"
                  },
                  "Cooktop": {
                    "$ref": "#/components/examples/cooktop-object-example"
                  },
                  "Hood": {
                    "$ref": "#/components/examples/hood-object-example"
                  },
                  "Microwave Oven": {
                    "$ref": "#/components/examples/microwave_oven-object-example"
                  },
                  "Air Conditioner": {
                    "$ref": "#/components/examples/air_conditioner-object-example"
                  },
                  "System Boiler": {
                    "$ref": "#/components/examples/system_boiler-object-example"
                  },
                  "Air Purifier": {
                    "$ref": "#/components/examples/air_purifier-object-example"
                  },
                  "Dehumidifier": {
                    "$ref": "#/components/examples/dehumidifier-object-example"
                  },
                  "Humidifier": {
                    "$ref": "#/components/examples/humidifier-object-example"
                  },
                  "Water Heater": {
                    "$ref": "#/components/examples/water_heater-object-example"
                  },
                  "Ceiling Fan": {
                    "$ref": "#/components/examples/ceiling_fan-object-example"
                  },
                  "Air Purifier Fan": {
                    "$ref": "#/components/examples/air_purifier_fan-object-example"
                  },
                  "Robot Cleaner": {
                    "$ref": "#/components/examples/robot_cleaner-object-example"
                  },
                  "Stick Cleaner": {
                    "$ref": "#/components/examples/stick_cleaner-object-example"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/{deviceId}/control": {
      "post": {
        "tags": [
          "Device API"
        ],
        "summary": "Control Device",
        "description": "API for controlling devices. You can send control commands to the specified device-id.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "required": false,
            "$ref": "#/components/parameters/x-conditional-control"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "a control command for the device based on the device profile information."
              },
              "examples": {
                "Refrigerator": {
                  "$ref": "#/components/examples/refrigerator-command-example"
                },
                "Wine Cellar": {
                  "$ref": "#/components/examples/wine_cellar-command-example"
                },
                "Washer": {
                  "$ref": "#/components/examples/washer-command-example"
                },
                "Dryer": {
                  "$ref": "#/components/examples/dryer-command-example"
                },
                "Styler": {
                  "$ref": "#/components/examples/styler-command-example"
                },
                "Dish Washer": {
                  "$ref": "#/components/examples/dish_washer-command-example"
                },
                "WashTower (Washer)": {
                  "$ref": "#/components/examples/washtower_washer-command-example"
                },
                "WashTower (Dryer)": {
                  "$ref": "#/components/examples/washtower_dryer-command-example"
                },
                "WashTower": {
                  "$ref": "#/components/examples/washtower-command-example"
                },
                "Main WashCombo": {
                  "$ref": "#/components/examples/main_washcombo-command-example"
                },
                "Mini WashCombo": {
                  "$ref": "#/components/examples/mini_washcombo-command-example"
                },
                "Oven": {
                  "$ref": "#/components/examples/oven-command-example"
                },
                "Cooktop": {
                  "$ref": "#/components/examples/cooktop-command-example"
                },
                "Hood": {
                  "$ref": "#/components/examples/hood-command-example"
                },
                "Microwave Oven": {
                  "$ref": "#/components/examples/microwave_oven-command-example"
                },
                "Air Conditioner": {
                  "$ref": "#/components/examples/air_conditioner-command-example"
                },
                "System Boiler": {
                  "$ref": "#/components/examples/system_boiler-command-example"
                },
                "Air Purifier": {
                  "$ref": "#/components/examples/air_purifier-command-example"
                },
                "Dehumidifier": {
                  "$ref": "#/components/examples/dehumidifier-command-example"
                },
                "Humidifier": {
                  "$ref": "#/components/examples/humidifier-command-example"
                },
                "Water Heater": {
                  "$ref": "#/components/examples/water_heater-command-example"
                },
                "Ceiling Fan": {
                  "$ref": "#/components/examples/ceiling_fan-command-example"
                },
                "Air Purifier Fan": {
                  "$ref": "#/components/examples/air_purifier_fan-command-example"
                },
                "Robot Cleaner": {
                  "$ref": "#/components/examples/robot_cleaner-command-example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device-control-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push": {
      "get": {
        "tags": [
          "Push API"
        ],
        "summary": "Get Device List under Subscription",
        "description": "Gets a list of the user's devices from which the user is receiving Push notifications.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/{deviceId}/subscribe": {
      "post": {
        "tags": [
          "Push API"
        ],
        "summary": "Subscribed to Push notifications of the device.",
        "description": "Subscription requests to receive push notifications from devices",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/{deviceId}/unsubscribe": {
      "delete": {
        "tags": [
          "Push API"
        ],
        "summary": "Unsubscribed to Push notifications of the device",
        "description": "Requests to cancel subscriptions to the Push notifications of the device",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/push/devices": {
      "get": {
        "tags": [
          "Push API"
        ],
        "summary": "Get a list of clients subscribed to device add/delete notifications.",
        "description": "Get a list of clients where users have requested subscriptions to add/delete/change devices.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-client-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Push API"
        ],
        "summary": "Subscribe to the Add/Delete Device Notification Client",
        "description": "Request to register client to receive device add/delete/change subscription",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Push API"
        ],
        "summary": "Unsubscribe to the Add/Delete Device Notification Client",
        "description": "Request to register client to receive device add/delete/change subscription",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/push-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event": {
      "get": {
        "tags": [
          "Event API"
        ],
        "summary": "Get a list of device event subscriptions.",
        "description": "Get a list of devices to which users are subscribed to device status notifications.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-list-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event/{deviceId}/subscribe": {
      "post": {
        "tags": [
          "Event API"
        ],
        "summary": "Subscribe to Device Events",
        "description": "Unsubscribes to events of the device when the device status changes",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/event-register-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/event/{deviceId}/unsubscribe": {
      "delete": {
        "tags": [
          "Event API"
        ],
        "summary": "Unsubscribe to Device Events.",
        "description": "Unsubscribes to events of the device when the device status changes.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event-deviceId-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/client/certificate": {
      "post": {
        "tags": [
          "Client API"
        ],
        "summary": "Issue a client certificate",
        "description": "Verify the client's AWS IoT certificate, subscribable MQTT Topic",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-certificate-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-certificate-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/client": {
      "post": {
        "tags": [
          "Client API"
        ],
        "summary": "Register a customer",
        "description": "Client registration",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-register-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Client API"
        ],
        "summary": "Unregister a client",
        "description": "Client deactivation",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/client-unregister-req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/client-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/energy/{deviceId}/profile": {
      "get": {
        "tags": [
          "Energy API"
        ],
        "summary": "Retrieve Energy Data Profile",
        "description": "An API to retrieve the energy data profile provided by appliance devices.\n",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy-profile-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/devices/energy/{deviceId}/usage?period={PERIOD}&startDate={START_DATE}&endDate={END_DATE}": {
      "get": {
        "tags": [
          "Energy API"
        ],
        "summary": "Retrieve Energy Data",
        "description": "An API to retrieve the energy data provided by appliance devices.",
        "parameters": [
          {
            "required": true,
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-message-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-country"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-client-id"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/x-api-key"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/period"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/start_date"
          },
          {
            "required": true,
            "$ref": "#/components/parameters/end_date"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/energy-usage-res"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "PAT token received via https://connect-pat.lgthinq.com\n",
        "example": "Bearer 4d76546d61f01baf31c1sd8f6b4e38b110ba0a34f825b8c5d54c"
      },
      "x-message-id": {
        "name": "x-message-id",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "This value is for tracking the information being requested. You can track the flow of a particular API and find the cause of errors when they occur. The generation rules are as follows:\n    Generated with the url-safe-base64-no-padding (UUID Version 4) method.\n    The length is 22 characters.\n",
        "example": "fNvdZ1brTn-wWKUlWGoSVw"
      },
      "x-country": {
        "name": "x-country",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "Specify the country where you want to provide the service. Follow the two digits of the ISO country code alphabet (ISO 3166-1 alpha-2) (e.g., KR, US, GB, ...)\n",
        "example": "US"
      },
      "x-service-phase": {
        "name": "x-service-phase",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "You can designate the configuration for service provision.\n",
        "example": "OP"
      },
      "x-client-id": {
        "name": "x-client-id",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "The identifier ID of the requesting client. It should be generated so that it has a unique value.\n",
        "example": "test-client-123456"
      },
      "x-api-key": {
        "name": "x-api-key",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "API key for making API calls. Call an API with the API key below. The key is a fixed value.<br> \"v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3\"\n",
        "example": "v6GFvkweNo7DK7yD3ylIZ9w52aKBU0eJ7wLXkSR3"
      },
      "x-conditional-control": {
        "name": "x-conditional-control",
        "in": "header",
        "schema": {
          "type": "boolean"
        },
        "description": "Activate control only in controllable states after Device status inquiry\n",
        "example": true
      },
      "period": {
        "name": "period",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "DAILY",
            "MONTHLY"
          ],
          "description": "Data Collection Period"
        },
        "example": "DAILY"
      },
      "start_date": {
        "name": "startDate",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date",
          "description": "Start Date of the Data Search Period (based on user's local time)\n\n|Period | Description|\n|-|-|\n| DAILY | Up to 31 days of records can be viewed. (YYYYMMDD) |\n| MONTHLY | Up to 12 months of records can be viewed. (YYYYMM) |\n"
        },
        "example": "20250901"
      },
      "end_date": {
        "name": "endDate",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date",
          "description": "Last Date of the Data Search Period (based on user's local time)\n\n|Period | Description|\n|-|-|\n| DAILY | Up to 31 days of records can be viewed. (YYYYMMDD) |\n| MONTHLY | Up to 12 months of records can be viewed. (YYYYMM) |\n"
        },
        "example": "20250901"
      }
    },
    "schemas": {
      "push_message_register_device": {
        "$ref": "#/components/schemas/register_device"
      },
      "push_message_delete_device": {
        "$ref": "#/components/schemas/delete_device"
      },
      "push_message_change_nickname": {
        "$ref": "#/components/schemas/change_nickname"
      },
      "push_message_complete_operation": {
        "$ref": "#/components/schemas/complete_operation"
      },
      "event_message": {
        "description": "Event message",
        "type": "object",
        "properties": {
          "event": {
            "type": "object",
            "description": "An object containing information about the event",
            "properties": {
              "serviceId": {
                "type": "string",
                "description": "Service ID"
              },
              "deviceId": {
                "type": "string",
                "description": "Device Identifier"
              },
              "deviceType": {
                "type": "string",
                "description": "Device Type"
              },
              "report": {
                "type": "object",
                "description": "It is sent only if the device status is changed. The schema for the status change is based on the device status response in Device Profile.\n"
              },
              "pushType": {
                "type": "enum",
                "description": "DEVICE_STATUS"
              },
              "userList": {
                "type": "array",
                "description": "List of users who registered device events",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "base-res": {
        "type": "object",
        "description": "Response Object for any device",
        "properties": {
          "messageId": {
            "type": "string",
            "description": "The X-Message-ID included in the header of the request. Include this value in the response message so that you can see if there are any problems.",
            "example": "fNvdZ1brTn-wWKUlWGoSVw"
          },
          "timestamp": {
            "type": "string",
            "description": "The time when the request came in, following the ISO 8601 format.",
            "example": "2024-09-01T06:23:20.866279"
          }
        }
      },
      "route-res": {
        "description": "Response to the domain name search request",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "apiServer": {
                    "type": "string",
                    "description": "API server domain name",
                    "example": "https://api-aic.lgthinq.com"
                  },
                  "mqttServer": {
                    "type": "string",
                    "description": "MQTT domain name",
                    "example": "mqtts://a3phael99lf879-ats.iot.us-west-2.amazonaws.com:8883"
                  },
                  "webSocketServer": {
                    "type": "string",
                    "description": "WebSocket domain name",
                    "example": "wss://a3phael99lf879-ats.iot.us-west-2.amazonaws.com:443/mqtt"
                  }
                }
              }
            }
          }
        ]
      },
      "device-list-res": {
        "description": "Device list inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "An ID that can identify the device",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    },
                    "deviceInfo": {
                      "type": "object",
                      "description": "An object containing the followings",
                      "properties": {
                        "deviceType": {
                          "type": "string",
                          "description": "The device type",
                          "example": "DEVICE_AIR_CONDITIONER"
                        },
                        "modelName": {
                          "type": "string",
                          "description": "The (device) model name",
                          "example": "PAC_910604_WW"
                        },
                        "alias": {
                          "type": "string",
                          "description": "The device alias name",
                          "example": "living room Air Conditioner"
                        },
                        "reportable": {
                          "type": "boolean",
                          "description": "Whether or not your service is subscribing to events which occur when the device status changes",
                          "example": true
                        },
                        "groupId": {
                          "type": "string",
                          "description": "groupId. Value for displaying the Washtower group value where Washtower washers and Washtower dryers are separated by a device identification Id.",
                          "example": "234506858"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "device-profile-res": {
        "description": "Device profile inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "Device Profile",
                "example": {
                  "-$ref": "../../../device-profile/air_conditioner/air_conditioner-profile-example.yaml"
                }
              }
            }
          }
        ]
      },
      "device-state-res": {
        "description": "Device status inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "Device Status",
                "example": {
                  "-$ref": "../../../device-profile/air_conditioner/air_conditioner-profile-example.yaml"
                }
              }
            }
          }
        ]
      },
      "device-control-res": {
        "description": "Control Device response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "An empty dictionary is passed on success",
                "example": {}
              }
            }
          }
        ]
      },
      "push-list-res": {
        "description": "Push list inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "Device id that subscribed to the push",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "push-deviceId-res": {
        "description": "Push subscription/unsubscription responses",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "An empty dictionary is passed on success",
                "example": {}
              }
            }
          }
        ]
      },
      "push-client-list-res": {
        "description": "User push clientId list inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "properties": {
                  "description": "clientId list",
                  "example": [
                    "ha-connect-client-st-test-230830_1st11",
                    "ha-connect-client-st-test-230830_1st111"
                  ]
                }
              }
            }
          }
        ]
      },
      "event-list-res": {
        "description": "Event subscription list inquiry response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "deviceId": {
                      "type": "string",
                      "description": "Device Id that subscribed to events",
                      "example": "eb8ce6a99e63beb7e2074409bc244f3fd6c534e40ca270b6895371f12b398660"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "event-register-req": {
        "description": "Subscribe to Device Events body",
        "type": "object",
        "properties": {
          "expire": {
            "type": "object",
            "description": "If you set an API expiration time or subscribe to it and the expiration time passes, the previously subscribed device is automatically turned off. If you subscribe to the device again, the expiration time will be renewed.",
            "properties": {
              "unit": {
                "type": "string",
                "description": "unit of time (default value - HOUR)",
                "example": "HOUR"
              },
              "timer": {
                "type": "integer",
                "description": "The expiration time of the event subscription. (min: 1, max: 24, default: 1) \n",
                "example": 1
              }
            }
          }
        }
      },
      "event-deviceId-res": {
        "description": "Event subscription/unsubscription responses",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "An empty dictionary is passed on success",
                "example": {}
              }
            }
          }
        ]
      },
      "client-certificate-req": {
        "description": "Client authentication body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "user's information",
            "properties": {
              "service-code": {
                "type": "string",
                "description": "Service Code (fixed value - SVC202)",
                "example": "SVC202"
              },
              "csr": {
                "type": "string",
                "description": "CSR data based on the device's self-generated private key",
                "example": "===xzx"
              }
            }
          }
        }
      },
      "client-certificate-res": {
        "description": "Client certificate enrollment response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "type": "string",
                    "description": "Result response code",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "properties": {
                      "certificatePem": {
                        "type": "string",
                        "description": "AWS IoT Certificate",
                        "example": "-----BEGIN CERTIFICATE-----\nMIIEUzCCAzugAw\n-----END CERTIFICATE-----\n"
                      },
                      "subscriptions": {
                        "type": "array",
                        "desription": "List of topics that require MQTT subscriptions on the client (List)",
                        "example": [
                          "app/clients/home-assistant-test-01234/push"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "client-register-req": {
        "description": "Client subscription body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "user's information",
            "properties": {
              "type": {
                "type": "string",
                "description": "Push type (fixed value - MQTT)",
                "example": "MQTT"
              },
              "service-code": {
                "type": "string",
                "description": "Service Code (fixed value - SVC202)",
                "example": "SVC202"
              },
              "device-type": {
                "type": "string",
                "description": "Client device type (fixed value - 607)",
                "example": "607"
              }
            }
          }
        }
      },
      "client-res": {
        "description": "Client Subscribe/Unsubscribe Response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "description": "An empty dictionary is passed on success",
                "example": {}
              }
            }
          }
        ]
      },
      "client-unregister-req": {
        "description": "Client unsubscription body",
        "type": "object",
        "properties": {
          "body": {
            "type": "object",
            "description": "user's information",
            "properties": {
              "type": {
                "type": "string",
                "description": "Push type (fixed value - MQTT)",
                "example": "MQTT"
              },
              "service-code": {
                "type": "string",
                "description": "Service Code (fixed value - SVC202)",
                "example": "SVC202"
              }
            }
          }
        }
      },
      "energy-profile-res": {
        "description": "Device Energy Data Profile Retrieval Response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "description": "Responses  Code\n\n| Code | Description |\n|-|- |\n| 0000 | Normal response |\n| 1212 | Not owned device |\n| 1221 | Not supported product |\n| 1220 | Not supported property |\n| 1307 | Not supported country |\n| 2214 | Fail request | \n",
                    "type": "string",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "description": "Energy Data List Which Can Be Relayed",
                    "properties": {
                      "property": {
                        "type": "array",
                        "description": "Value | Description\n-|-\nenergyUsage | Power Usage (WashTower, Main WashCombo)\nenergyUsage_washer | Power Usage for Washing (WashTower, Main WashCombo)\nenergyUsage_dryer | Power Usage for Drying (WashTower, Main WashCombo)\nenergyUsage_washerDryer | Washing and Drying Usage (Main WashCombo)",
                        "items": {
                          "type": "string",
                          "example": "energyUsage"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "energy-usage-res": {
        "description": "Device Energy Data Status Retrieval Response",
        "allOf": [
          {
            "$ref": "#/components/schemas/base-res"
          },
          {
            "type": "object",
            "properties": {
              "response": {
                "type": "object",
                "properties": {
                  "resultCode": {
                    "type": "string",
                    "description": "Responses  Code\n\n| Code | Description |\n|-|- |\n| 0000 | Normal response |\n| 1212 | Not owned device |\n| 1221 | Not supported product |\n| 1220 | Not supported property |\n| 1307 | Not supported country |\n| 2214 | Fail request | \n",
                    "example": "0000"
                  },
                  "result": {
                    "type": "object",
                    "description": "Requested Energy Data",
                    "properties": {
                      "property": {
                        "type": "array",
                        "description": "Value | Description\n-|-\nenergyUsage | Power Usage (WashTower, Main WashCombo)\nenergyUsage_washer | Power Usage for Washing (WashTower, Main WashCombo)\nenergyUsage_dryer | Power Usage for Drying (WashTower, Main WashCombo)\nenergyUsage_washerDryer | Washing and Drying Usage (Main WashCombo)",
                        "items": {
                          "type": "string",
                          "example": "energyUsage"
                        }
                      },
                      "dataList": {
                        "type": "array",
                        "description": "Usage Data For The Requested Date",
                        "items": {
                          "type": "object",
                          "properties": {
                            "usedDate": {
                              "type": "string",
                              "description": "Unit | Format Of The Requested Date\n-|-\nDAILY | Date Displayed In YYYYMMDD Format(ex. 20250901)\nMONTHLY | Month Displayed In YYYYMM Format(ex. 202509)",
                              "example": "20250901"
                            },
                            "useAmount": {
                              "type": "number",
                              "description": "Power Usage",
                              "example": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "register_device": {
        "description": "Device Registration Message",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Callback Push Message",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_REGISTERED"
              },
              "serviceId": {
                "type": "string",
                "description": "Service ID"
              },
              "deviceId": {
                "type": "string",
                "description": "Device Identifier"
              },
              "userNumber": {
                "type": "string",
                "description": "Device User Identifier"
              },
              "modelName": {
                "type": "string",
                "description": "Model name"
              },
              "deviceType": {
                "type": "string",
                "description": "Device Type"
              },
              "alias": {
                "type": "string",
                "description": "Device Nickname"
              }
            }
          }
        }
      },
      "delete_device": {
        "description": "Device Deletion Message",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Callback Push Message",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_UNREGISTERED"
              },
              "serviceId": {
                "type": "string",
                "description": "Service ID"
              },
              "deviceId": {
                "type": "string",
                "description": "Device Identifier"
              },
              "userNumber": {
                "type": "string",
                "description": "Device User Identifier"
              },
              "deviceType": {
                "type": "string",
                "description": "Device Type"
              },
              "alias": {
                "type": "string",
                "description": "Device Nickname"
              }
            }
          }
        }
      },
      "change_nickname": {
        "description": "Device Nickname Modification Message",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "Callback Push Message",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_ALIAS_CHANGED"
              },
              "serviceId": {
                "type": "string",
                "description": "Service ID"
              },
              "deviceId": {
                "type": "string",
                "description": "Device Identifier"
              },
              "userNumber": {
                "type": "string",
                "description": "Device User Identifier"
              },
              "alias": {
                "type": "string",
                "description": "Device Nickname"
              }
            }
          }
        }
      },
      "complete_operation": {
        "description": "Operation Completion Message",
        "type": "object",
        "properties": {
          "push": {
            "type": "object",
            "description": "An object containing information about push messages",
            "properties": {
              "pushType": {
                "type": "enum",
                "description": "DEVICE_PUSH"
              },
              "serviceId": {
                "type": "string",
                "description": "Service ID"
              },
              "deviceId": {
                "type": "string",
                "description": "Device Identifier"
              },
              "pushCode": {
                "type": "string",
                "description": "Device Operation Completed (e.g., cycle completed) / Parts Replacement (e.g., filter replacement)\n"
              },
              "deviceType": {
                "type": "string",
                "description": "Device Type"
              },
              "userList": {
                "type": "array",
                "description": "List of users who registered device push messages",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "examples": {
      "push_message_register_device_example": {
        "$ref": "#/components/examples/register_device_example"
      },
      "push_message_delete_device_example": {
        "$ref": "#/components/examples/delete_device_example"
      },
      "push_message_change_nickname_example": {
        "$ref": "#/components/examples/change_nickname_example"
      },
      "push_message_complete_operation_example": {
        "$ref": "#/components/examples/complete_operation_example"
      },
      "event_message_example": {
        "description": "Air Conditioner - Operating Mode ON",
        "value": {
          "messageId": "W1FKFRBZRkiuFAfU9pb6kw",
          "timestamp": "2019-06-20T01:14:27.069000",
          "event": {
            "pushType": "DEVICE_STATUS",
            "serviceId": "6b2011e7ff026e984215522d",
            "deviceId": "HW1-69C3EDD9-1993-4442-B139-794CA5997ECA",
            "report": {
              "operation": {
                "airConOperationMode": "POWER_ON"
              }
            },
            "deviceType": "DEVICE_WASHER",
            "userList": [
              "KR1910213944934"
            ]
          }
        }
      },
      "refrigerator-profile-example": {
        "value": {
          "property": {
            "temperature": [
              {
                "locationName": "FRIDGE",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 7,
                      "min": 0,
                      "step": 1
                    },
                    "w": {
                      "max": 7,
                      "min": 0,
                      "step": 1
                    }
                  }
                }
              },
              {
                "locationName": "FREEZER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": -16,
                      "min": -21,
                      "step": 1
                    },
                    "w": {
                      "max": -16,
                      "min": -21,
                      "step": 1
                    }
                  }
                }
              }
            ],
            "refrigeration": {
              "expressMode": {
                "type": "boolean",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": [
                    true,
                    false
                  ],
                  "w": [
                    true,
                    false
                  ]
                }
              },
              "expressModeName": {
                "type": "enum",
                "mode": [
                  "r"
                ],
                "value": {
                  "r": [
                    "FREEZER"
                  ]
                }
              },
              "freshAirFilter": {
                "type": "enum",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": [
                    "OFF",
                    "AUTO"
                  ],
                  "w": [
                    "OFF",
                    "AUTO"
                  ]
                }
              }
            },
            "doorStatus": [
              {
                "doorState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "OPEN",
                      "CLOSE"
                    ]
                  }
                },
                "locationName": "MAIN"
              }
            ],
            "waterFilterInfo": {
              "usedTime": {
                "type": "number",
                "mode": [
                  "r"
                ]
              }
            }
          },
          "notification": {
            "push": [
              "TIME_TO_CHANGE_WATER_FILTER",
              "TIME_TO_CHANGE_FILTER",
              "DOOR_IS_OPEN",
              "FROZEN_IS_COMPLETE"
            ]
          }
        }
      },
      "water_purifier-profile-example": {
        "value": {
          "property": {
            "runState": {
              "cockState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "CLEANING",
                    "NORMAL"
                  ]
                }
              }
            },
            "waterInfo": {
              "waterType": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "COLD",
                    "NORMAL",
                    "HOT",
                    "SODA"
                  ]
                }
              }
            }
          }
        }
      },
      "wine_cellar-profile-example": {
        "value": {
          "property": {
            "temperature": [
              {
                "locationName": "WINE_UPPER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                }
              },
              {
                "locationName": "WINE_LOWER",
                "unit": "C",
                "targetTemperature": {
                  "type": "range",
                  "mode": [
                    "r",
                    "w"
                  ],
                  "value": {
                    "r": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    },
                    "w": {
                      "max": 18,
                      "min": 5,
                      "step": 1,
                      "except": []
                    }
                  }
                }
              }
            ],
            "operation": {
              "lightStatus": {
                "type": "range",
                "mode": [
                  "r",
                  "w"
                ],
                "value": {
                  "r": {
                    "max": 100,
                    "min": 0,
                    "step": 10
                  },
                  "w": {
                    "max": 100,
                    "min": 0,
                    "step": 10
                  }
                }
              }
            }
          },
          "notification": {
            "push": [
              "DOOR_IS_OPEN"
            ]
          }
        }
      },
      "kimchi_refrigerator-profile-example": {
        "value": {
          "notification": {
            "push": [
              "DOOR_IS_OPEN"
            ]
          },
          "property": {
            "refrigeration": {
              "oneTouchFilter": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "OFF",
                    "ON"
                  ]
                }
              }
            },
            "temperature": [
              {
                "locationName": "TOP",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "FREEZER",
                      "FRIDGE",
                      "KIMCHI",
                      "OFF"
                    ]
                  }
                }
              },
              {
                "locationName": "MIDDLE",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "VEGETABLE_FRUIT",
                      "KIMCHI",
                      "MEAT_FISH",
                      "OFF"
                    ]
                  }
                }
              },
              {
                "locationName": "BOTTOM",
                "targetTemperature": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "KIMCHI",
                      "STORAGE",
                      "OFF",
                      "VEGETABLE_FRUIT",
                      "RICE_GRAIN"
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "home_brew-profile-example": {
        "value": {
          "property": {
            "recipe": {
              "beerRemain": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 100,
                    "min": 0,
                    "step": 1
                  }
                }
              },
              "flavorInfo": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "ORANGE",
                    "CORIANDER",
                    "CORIANDER_SEED"
                  ]
                }
              },
              "hopOilInfo": {
                "mode": [
                  "r"
                ],
                "type": "list",
                "value": {
                  "r": [
                    "FUGGLES",
                    "CASCADE",
                    "HALLERTAU",
                    "CITRUSSY",
                    "GOLDINGS",
                    "CHINOOK"
                  ]
                }
              },
              "recipeName": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "PALE_ALE",
                    "MY_RECIPE",
                    "RED_ALE",
                    "STOUT",
                    "WHEAT",
                    "PILSNER",
                    "IPA"
                  ]
                }
              },
              "wortInfo": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "DARK",
                    "HOPPY",
                    "WHEAT",
                    "DEEP_GOLD"
                  ]
                }
              },
              "yeastInfo": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "ENGLISH_ALE",
                    "AMERICAN_ALE",
                    "LAGER",
                    "WEIZEN"
                  ]
                }
              }
            },
            "runState": {
              "currentState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "PREPAREING_FERMENTATION",
                    "STANDBY",
                    "DURING_FERMENTATION",
                    "TEMPERATURE_STABILIZATION",
                    "EXTRACTION_MODE",
                    "DURING_AGING",
                    "EXTRACTING_CAPSULE",
                    "MELTING",
                    "AS_POP_UP",
                    "CARBONATION"
                  ]
                }
              }
            },
            "timer": {
              "elapsedDayState": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 2731,
                    "min": 0,
                    "step": 1
                  }
                }
              },
              "elapsedDayTotal": {
                "mode": [
                  "r"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 2731,
                    "min": 0,
                    "step": 1
                  }
                }
              }
            }
          }
        }
      },
      "plant_cultivator-profile-example": {
        "value": {
          "property": [
            {
              "location": {
                "locationName": "UPPER"
              },
              "runState": {
                "currentState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "POWER_ON",
                      "POWER_OFF"
                    ]
                  }
                },
                "growthMode": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "STANDARD",
                      "EXT_FLOWER",
                      "EXT_HERB",
                      "EXT_LEAF",
                      "EXT_EXPERT"
                    ]
                  }
                },
                "windVolume": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 3,
                      "step": 1
                    }
                  }
                }
              },
              "light": {
                "brightness": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 5,
                      "step": 1
                    }
                  }
                },
                "duration": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 10,
                      "max": 18,
                      "step": 1
                    }
                  }
                },
                "startHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "startMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                },
                "endHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "endMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                }
              },
              "temperature": {
                "dayTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 22,
                      "max": 29,
                      "step": 1
                    }
                  }
                },
                "nightTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 15,
                      "max": 21,
                      "step": 1
                    }
                  }
                }
              }
            },
            {
              "location": {
                "locationName": "LOWER"
              },
              "runState": {
                "currentState": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "POWER_ON",
                      "POWER_OFF"
                    ]
                  }
                },
                "growthMode": {
                  "type": "enum",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": [
                      "STANDARD",
                      "EXT_FLOWER",
                      "EXT_HERB",
                      "EXT_LEAF",
                      "EXT_EXPERT"
                    ]
                  }
                },
                "windVolume": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 3,
                      "step": 1
                    }
                  }
                }
              },
              "light": {
                "brightness": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 1,
                      "max": 5,
                      "step": 1
                    }
                  }
                },
                "duration": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 10,
                      "max": 18,
                      "step": 1
                    }
                  }
                },
                "startHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "startMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                },
                "endHour": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 23,
                      "step": 1
                    }
                  }
                },
                "endMinute": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 0,
                      "max": 50,
                      "step": 10
                    }
                  }
                }
              },
              "temperature": {
                "dayTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 22,
                      "max": 29,
                      "step": 1
                    }
                  }
                },
                "nightTargetTemperature": {
                  "type": "range",
                  "mode": [
                    "r"
                  ],
                  "value": {
                    "r": {
                      "min": 15,
                      "max": 21,
                      "step": 1
                    }
                  }
                }
              }
            }
          ]
        }
      },
      "washer-profile-example": {
        "value": {
          "error": [
            "DOOR_OPEN_ERROR",
            "TEMPERATURE_SENSOR_ERROR",
            "OUT_OF_BALANCE_ERROR",
            "WATER_LEVEL_SENSOR_ERROR",
            "LOCKED_MOTOR_ERROR",
            "WATER_DRAIN_ERROR",
            "UNABLE_TO_LOCK_ERROR",
            "OVERFILL_ERROR",
            "WATER_SUPPLY_ERROR"
          ],
          "notification": {
            "push": [
              "WASHING_IS_COMPLETE",
              "ERROR_DURING_WASHING"
            ]
          },
          "property": [
            {
              "detergent": {
                "detergentSetting": "NORMAL"
              },
              "location": {
                "locationName": "MAIN"
              },
              "operation": {
                "washerOperationMode": {
                  "mode": [
                    "w"
                  ],
                  "type": "enum",
                  "value": {
                    "w": [
                      "START",
                      "STOP",
                      "POWER_OFF"
                    ]
                  }
                }
              },
              "remoteControlEnable": {
                "remoteControlEnabled": {
                  "mode": [
                    "r"
                  ],
                  "type": "boolean",
                  "value": {
                    "r": [
                      false,
                      true
                    ]
                  }
                }
              },
              "runState": {
                "currentState": {
                  "mode": [
                    "r"
                  ],
                  "type": "enum",
                  "value": {
                    "r": [
                      "RUNNING",
                      "INITIAL",
                      "RINSING",
                      "SPINNING",
                      "FIRMWARE",
                      "RESERVED",
                      "PAUSE",
                      "POWER_OFF",
                      "DETECTING",
                      "END",
                      "SOAKING",
                      "ERROR"
                    ]
                  }
                }
              },
              "timer": {
                "relativeHourToStart": {
                  "mode": [
                    "r",
                    "w"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 19,
                      "min": 0,
                      "step": 1
                    },
                    "w": {
                      "except": [],
                      "max": 19,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "relativeMinuteToStart": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "remainHour": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 30,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "remainMinute": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "totalHour": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 30,
                      "min": 0,
                      "step": 1
                    }
                  }
                },
                "totalMinute": {
                  "mode": [
                    "r"
                  ],
                  "type": "range",
                  "value": {
                    "r": {
                      "except": [],
                      "max": 59,
                      "min": 0,
                      "step": 1
                    }
                  }
                }
              }
            }
          ]
        }
      },
      "dryer-profile-example": {
        "value": {
          "error": [
            "DOOR_SENSOR_ERROR",
            "COMPRESSOR_ERROR",
            "TEMPERATURE_SENSOR_ERROR",
            "DRAINMOTOR_ERROR",
            "EMPTY_WATER_ALERT_ERROR",
            "MOTOR_LOCK_ERROR",
            "DOOR_OPEN_ERROR",
            "HIGH_TEMPERATURE_DETECTION_ERROR",
            "DOOR_LOCK_ERROR",
            "NO_FILTER_ERROR"
          ],
          "notification": {
            "push": [
              "DRYING_IS_COMPLETE",
              "DRYING_FAILED"
            ]
          },
          "property": {
            "operation": {
              "dryerOperationMode": {
                "mode": [
                  "w"
                ],
                "type": "enum",
                "value": {
                  "w": [
                    "START",
                    "STOP",
                    "POWER_OFF",
                    "WAKE_UP"
                  ]
                }
              }
            },
            "remoteControlEnable": {
              "remoteControlEnabled": {
                "mode": [
                  "r"
                ],
                "type": "boolean",
                "value": {
                  "r": [
                    false,
                    true
                  ]
                }
              }
            },
            "runState": {
              "currentState": {
                "mode": [
                  "r"
                ],
                "type": "enum",
                "value": {
                  "r": [
                    "INITIAL",
                    "ERROR",
                    "SLEEP",
                    "DETECTING",
                    "COOLING",
                    "WRINKLE_CARE",
                    "RESERVED",
                    "POWER_OFF",
                    "RUNNING",
                    "PAUSE",
                    "END"
                  ]
                }
              }
            },
            "timer": {
              "relativeHourToStop": {
                "mode": [
                  "r",
                  "w"
                ],
                "type": "range",
                "value": {
                  "r": {
                    "max": 19,
                    "min": 3
                  },
                  "w": {
                    "max": 19,
                    "min": 3
                  }
                }
              },
              "relativeMinuteToStop": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "remainHour": {
                "mode": [
                  "r"
                ],
                "type": "number"
              },
              "remainMinute": {
                "mode": [
                  "r"
                ],
[...]
